.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todoitem li {
  list-style-type: none;
}
.todoitem {
  padding: 0;
}
.todoitem li a 
{
  color: #1e90ff;
}

.inputtodoitem
{
  display: flex;
  margin: 10px 0 
}
.inputtodoitem img
{
  margin-right: 10px
}

.inputtodoitem input
{
  border: none;
  background: transparent;
  color: white
}

.inputtodoitem input:focus{
  outline: none
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
